table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  max-width: 26px;
  word-wrap: break-word;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.first{
  background-color: darkslategray;
  color: white;
}