.botaodec{
    border-radius: 100px;
    color: white;
    font-size: 20px;
    width: 45px;
    height: 45px;
    background-color: tomato;
    border: none;
    margin-left: 2px;
}

.botaoinc{
    border-radius: 100px;
    color: white;
    font-size: 20px;
    width: 45px;
    height: 45px;
    background-color:slateblue;
    border: none;
}

.inc{
    border-radius: 50px;
}